abrt/
autostart/
BraveSoftware/
cef_user_data/
chromium/
Code/
dconf/
discord/
dosbox/
enchant/
evolution/
fish/
forge/
ghc/
github-copilot/
gnome*
google*
goa-1.0/
gsconnect/
gtk*
ibus/
jgit/
lazygit/
menus/
microsoft*
nautilus/
neofetch/
nix/
omf/
procps/
pulse/
runjs/
simple-update-notifier/
totem/
ulauncher/
warp-terminal/
yelp/
.gsd*
GNOME*
QtProject*
dleyna*
mimeapps*
monitors*
user*
xdg*
JetBrains
VirtualBox
JetBrains.back
VirtualBox.back
thefuck
gh/
gh-copilot/
LunaModeler/
Luna Modeler/
balenaEtcher/
balena-etcher-electron/
