* {
    font-family: 'Inter', 'JetbrainsMono Nerd Font';
    font-size: 13px;
    font-weight: bold;
    border-radius: 18px;
}

#waybar {
    background-color: rgba(54, 54, 70, 0.5);
    border-radius: 15px;
}

/* Left Side */

#custom-launcher {
    margin: 6px 6px 6px 15px;
    padding: 0px 19px 0px 12px;
    background: #1f1f28;
}

#cpu {
    margin: 6px 6px 6px 0px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#memory {
    margin: 6px 6px 6px 0px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#temperature {
    margin: 6px 6px 6px 0px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#power-profiles-daemon {
    margin: 6px 6px 6px 0px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#custom-dunst {
    margin: 6px 6px 6px 0px;
    padding: 0px 20px 0px 15px;
    background: #1f1f28;
}

#language {
    margin: 6px 6px 6px 0px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#tray {
    margin: 6px 0px 6px 0px;
    padding: 0px 15px;
    background: #1f1f28;
}

/* Center */

#workspaces {
    font-weight: bolder;
    margin: 7px 0px;
    padding: 4px 2px;
    background: #1f1f28;
}

#workspaces button {
    padding: 2px 6px;
    margin: 0px 4px;
    transition: 0.25s;
    background: #e6c384;
    transition-timing-function: ease-in-out;
}

#workspaces button.persistent {
    background: #e6c384;
    color: #1f1f28;
}

#workspaces button.empty {
    background: #dcd7ba;
    color: #1f1f28;
}

#workspaces button.active {
    padding: 2px 18px;
    background: #e6c384;
    color: #1f1f28;
}

/* Right Side */

#idle_inhibitor {
    margin: 6px 0px 6px 0px;
    padding: 0px 22px 0px 15px;
    background: #1f1f28;
}

#backlight {
    margin: 6px 0 6px 6px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#wireplumber {
    margin: 6px 0 6px 6px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#network {
    margin: 6px 0 6px 6px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#bluetooth {
    margin: 6px 0 6px 6px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#battery {
    margin: 6px 0 6px 6px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#clock {
    margin: 6px 0 6px 6px;
    padding: 0px 15px;
    background: #1f1f28;
    color: #dcd7ba;
}

#custom-power {
    margin: 6px 15px 6px 6px;
    padding: 0px 15px 0px 12px;
    background: #1f1f28;
}
