layout {
    tab name="code" focus=true {
        pane 
    }

    tab name="terminal" {
        pane
    }

    tab name="server" {
        pane
      }

   default_tab_template {
      pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "#[bg=#DCD7BA]{mode}#[fg=#181616,bg=#DCD7BA,bold]{session} #[fg=#DCD7BA,bg=#181616]{tabs}"
            format_right "#[fg=#181616,bg=#DCD7BA]{datetime}"
            format_space "#[bg=#181616]"

            hide_frame_for_single_pane "true"

            mode_normal  "#[bg==#DCD7BA] "

            tab_normal              "#[fg=#181616,bg=#727169] #[fg=#181616,bg=#727169]{index}  {name} #[fg=#727169,bg=#181616]"
            tab_normal_fullscreen   "#[fg=#7FB4CA,bg=#181616] {index} {name} [] "
            tab_normal_sync         "#[fg=#7FB4CA,bg=#181616] {index} {name} <> "
            tab_active              "#[fg=#181616,bg=#7FB4CA,bold,italic] {index}  {name} #[fg=#7FB4CA,bg=#181616]"
            tab_active_fullscreen   "#[fg=#7AA89F,bg=#181616,bold,italic] {index} {name} [] "
            tab_active_sync         "#[fg=#7AA89F,bg=#181616,bold,italic] {index} {name} <> "


            datetime          "#[fg=#181616,bg=#DCD7BA,bold] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "America/La_Paz"
        }
      }
      children
   }
}
